<footer class="site-footer">
  <div class="wrapper">
    <h3 class="footer-heading">{{ site.title }}</h3>
    <div class="site-navigation">
      <p><strong>Site Map</strong></p>
      <ul class="pages">
				{% include 'nav_links.njk' %}
      </ul>
    </div>

    <div class="site-contact">
      <p><strong>Contact</strong></p>
      <ul class="social-media-list">
        <li>
          <a href="mailto:{{ site.owner.email }}">
            <i class="fa fa-envelope-o"></i>
            <span class="username">{{ site.owner.email }}</span>
          </a>
        </li>
        {% for social in site.social %}
          {% if social.url != "" %}
          <li>
            <a href="{{ social.url }}" title="{{ social.desc }}">
              <i class="fab fa-{{ social.icon }}"></i>
              <span class="username">{% if social.username %}{{ social.username }}{% else %}{{ social.name }}{% endif %}</span>
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="site-signature">
      <p class="rss-subscribe text"><strong>Subscribe <a href="{{ site.baseurl }}/feed.xml">via RSS</a></strong></p>
      <p class="text">{{ site.description }}</p>
    </div>
  </div>
</footer>

<script>
const $ = document.querySelector.bind(document);
window.addEventListener('DOMContentLoaded', () => {
  // Header
  const navmenu = $('#js-navigation-menu');
  navmenu.classList.remove('show');
  const menuToggle = $('#js-mobile-menu');
  menuToggle.addEventListener('click', e => {
    e.preventDefault();
    if (navmenu.classList.contains('show')) {
      navmenu.classList.remove('show');
    } else {
      navmenu.classList.add('show');
    }
  });
});
</script>


{% if site.google_analytics %}
<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('send', 'pageview', {
    'page': '{{ page.url }}',
    'title': '{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}'
  });
</script>
{% endif %}
