<footer class="site-footer">
  <div class="wrapper">
    <h3 class="footer-heading">{{ site.title }}</h3>
    <div class="site-navigation">
      <p><strong>Site Map</strong></p>
      <ul class="pages">
				{% include 'nav_links.njk' %}
      </ul>
    </div>

    <div class="site-contact">
      <p><strong>Contact</strong></p>
      <ul class="social-media-list">
        <li>
          <a href="mailto:{{ site.owner.email }}">
            <i class="fa fa-envelope-o"></i>
            <span class="username">{{ site.owner.email }}</span>
          </a>
        </li>
        {% for social in site.social %}
          {% if social.url != "" %}
          <li>
            <a href="{{ social.url }}" title="{{ social.desc }}">
              <i class="fa fa-{{ social.icon }}"></i>
              <span class="username">{% if social.username %}{{ social.username }}{% else %}{{ social.name }}{% endif %}</span>
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="site-signature">
      <p class="rss-subscribe text"><strong>Subscribe <a href="{{ site.baseurl }}/feed.xml">via RSS</a></strong></p>
      <p class="text">{{ site.description }}</p>
    </div>
  </div>
</footer>

<script>
const $ = document.querySelector.bind(document);
window.addEventListener('DOMContentLoaded', () => {
  // Header
  const navmenu = $('#js-navigation-menu');
  navmenu.classList.remove('show');
  const menuToggle = $('#js-mobile-menu');
  menuToggle.addEventListener('click', e => {
    e.preventDefault();
    if (navmenu.classList.contains('show')) {
      navmenu.classList.remove('show');
    } else {
      navmenu.classList.add('show');
    }
  });
});
</script>


