<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      {% if site.logo %}
      <img src="{{ site.logo }}" alt="{{ site.title }}">
      {% endif %}
      <span>{{ site.title }}</span>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
				{% include 'nav_links.njk' %}
        <li class="nav-link">{% include 'language-switcher.njk' %}</li>
      </ul>
    </nav>
  </div>
</header>
