<mwc-list>
  <mwc-list-item graphic="avatar">
    <a href="/">Home</a>
    <mwc-icon slot="graphic">home</mwc-icon>
  </mwc-list-item>
  <mwc-list-item graphic="avatar">
    <a href="/posts/">Posts</a>
    <mwc-icon slot="graphic">description</mwc-icon>
  </mwc-list-item>
  <mwc-list-item graphic="avatar">
    <a href="/tags/">Tags</a>
    <mwc-icon slot="graphic">label</mwc-icon>
  </mwc-list-item>
  <mwc-list-item graphic="avatar">
    <a href="/about/">About</a>
    <mwc-icon slot="graphic">account_box</mwc-icon>
  </mwc-list-item>
  <mwc-list-item graphic="avatar">
    <a href="https://demo.agektmr.com/">Demos</a>
    <mwc-icon slot="graphic">explore</mwc-icon>
  </mwc-list-item>
</mwc-list>
<nav class="layout horizontal around-justified" style="margin-bottom: 12px">
{%- if site.owner.twitter %}
  <a href="https://twitter.com/{{ site.owner.twitter }}" target="_blank">
    <mwc-icon-button icon="social:post-twitter"></mwc-icon-button>
  </a>
{%- endif %}
{%- if site.owner.facebook %}
  <a href="https://facebook.com/{{ site.owner.facebook }}" target="_blank">
    <mwc-icon-button icon="social:post-facebook"></mwc-icon-button>
  </a>
{%- endif %}
{%- if site.owner.linkedin %}
  <a href="https://linkedin.com/in/{{ site.owner.linkedin }}" target="_blank">
    <mwc-icon-button icon="social:post-linkedin"></mwc-icon-button>
  </a>
{%- endif %}
{%- if site.owner.github %}
  <a href="https://github.com/{{ site.owner.github }}" target="_blank">
    <mwc-icon-button icon="social:post-github"></mwc-icon-button>
  </a>
{%- endif %}
{%- if site.owner.email %}
  <a href="mailto:{{ site.owner.email }}" target="_blank">
    <mwc-icon-button icon="communication:email"></mwc-icon-button>
  </a>
{%- endif %}
</nav>