<mwc-list>
  <a href="/">
    <mwc-list-item graphic="icon">
      Home
      <mwc-icon slot="graphic">home</mwc-icon>
    </mwc-list-item>
  </a>
  <a href="/posts/">
    <mwc-list-item graphic="icon">
      Posts
      <mwc-icon slot="graphic">description</mwc-icon>
    </mwc-list-item>
  </a>
  <a href="/tags/">
    <mwc-list-item graphic="icon">
      Tags
      <mwc-icon slot="graphic">label</mwc-icon>
    </mwc-list-item>
  </a>
  <a href="/about/">
    <mwc-list-item graphic="icon">
      About
      <mwc-icon slot="graphic">account_box</mwc-icon>
    </mwc-list-item>
  </a>
  <a href="https://demo.agektmr.com/">
    <mwc-list-item graphic="icon">
      Demos
      <mwc-icon slot="graphic">explore</mwc-icon>
    </mwc-list-item>
  </a>
</mwc-list>
<nav class="contacts">
{%- if site.owner.twitter %}
  <mwc-icon-button class="twitter">
    <a href="https://twitter.com/{{ site.owner.twitter }}">
      <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" style="color: #55acee; pointer-events: none; display: block; width: 100%; height: 100%;"><g><path d="M20 2h-16c-1.1 0-1.99.9-1.99 2l-.01 16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-16c0-1.1-.9-2-2-2zm-2.29 7.33c-.06 4.62-3.02 7.78-7.42 7.98-1.82.08-3.14-.5-4.28-1.23 1.34.21 3.01-.32 3.9-1.09-1.32-.13-2.1-.8-2.46-1.88.38.07.78.05 1.14-.03-1.19-.4-2.04-1.13-2.08-2.67.33.15.68.29 1.14.32-.9-.5-1.55-2.35-.8-3.57 1.32 1.45 2.91 2.63 5.52 2.79-.65-2.8 3.06-4.32 4.61-2.44.66-.13 1.19-.38 1.7-.65-.21.65-.62 1.1-1.12 1.47.54-.07 1.03-.21 1.44-.41-.25.53-.81 1.01-1.29 1.41z"></path></g></svg>
    </a>
  </mwc-icon-button>
{%- endif %}
{%- if site.owner.facebook %}
  <mwc-icon-button class="facebook">
    <a href="https://facebook.com/{{ site.owner.facebook }}">
      <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" style="color: #3a5795; pointer-events: none; display: block; width: 100%; height: 100%;"><g><path d="M20 2h-16c-1.1 0-1.99.9-1.99 2l-.01 16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-16c0-1.1-.9-2-2-2zm-1 2v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v7h-3v-7h-2v-3h2v-2.5c0-1.93 1.57-3.5 3.5-3.5h2.5z"></path></g></svg>
    </a>
  </mwc-icon-button>
{%- endif %}
{%- if site.owner.linkedin %}
  <mwc-icon-button class="linkedin">
    <a href="https://linkedin.com/in/{{ site.owner.linkedin }}">
      <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" style="color: #1c86bd; pointer-events: none; display: block; width: 100%; height: 100%;"><g><path d="M20 2h-16c-1.1 0-1.99.9-1.99 2l-.01 16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-16c0-1.1-.9-2-2-2zm-12 17h-3v-9h3v9zm-1.5-10.69c-1 0-1.81-.81-1.81-1.81s.81-1.81 1.81-1.81 1.81.81 1.81 1.81-.81 1.81-1.81 1.81zm12.5 10.69h-3v-5.3c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v5.3h-3v-9h3v1.2c.52-.84 1.59-1.4 2.5-1.4 1.93 0 3.5 1.57 3.5 3.5v5.7z"></path></g></svg>
    </a>
  </mwc-icon-button>
{%- endif %}
{%- if site.owner.github %}
  <mwc-icon-button class="github">
    <a href="https://github.com/{{ site.owner.github }}">
      <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" style="color: #333333; pointer-events: none; display: block; width: 100%; height: 100%;"><g><path d="M7.2 6.6h-.1c-.5 1.4-.2 2.3-.1 2.6-.6.7-1 1.6-1 2.6 0 3.8 2.4 4.6 4.6 4.9-.2 0-.6.2-.8.8-.4.2-1.8.7-2.6-.7 0 0-.5-.8-1.3-.9 0 0-.8 0-.1.5 0 0 .6.3.9 1.3 0 0 .5 1.7 3 1.1v3.1h5v-3.5c0-1-.4-1.5-.8-1.8 2.2-.2 4.6-1 4.6-4.8 0-1.1-.4-2-1-2.6.1-.3.4-1.2-.1-2.6 0 0-.8-.3-2.7 1-.8-.2-1.6-.3-2.5-.3-.8 0-1.7.1-2.5.3-1.4-1-2.2-1-2.6-1zm12.8 15.4h-16c-1.1 0-2-.9-2-2v-16c0-1.1.9-2 2-2h16c1.1 0 2 .9 2 2v16c0 1.1-.9 2-2 2z"></path></g></svg>
    </a>
  </mwc-icon-button>
{%- endif %}
{%- if site.owner.email %}
  <mwc-icon-button class="email">
    <a href="mailto:{{ site.owner.email }}">
      <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g><path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"></path></g></svg>
    </a>
  </mwc-icon-button>
{%- endif %}
</nav>