<div class="fit layout vertical">
  <paper-item>
    <a href="/"><iron-icon icon="home"></iron-icon><span>Home</span></a>
  </paper-item>
  <paper-item>
    <a href="/posts/"><iron-icon icon="description"></iron-icon>Posts</a>
  </paper-item>
  <paper-item>
    <a href="/tags/"><iron-icon icon="label"></iron-icon>Tags</a>
  </paper-item>
  <paper-item>
    <a href="/about/"><iron-icon icon="account-box"></iron-icon>About</a>
  </paper-item>
  <paper-item>
    <a href="http://demo.agektmr.com/"><iron-icon icon="explore"></iron-icon>Demos</a>
  </paper-item>
  <span class="flex"></span>
  <div class="layout horizontal around-justified" style="margin-bottom: 12px">
    {% if site.owner.twitter %}
      <a href="http://twitter.com/{{ site.owner.twitter }}" target="_blank"><iron-icon icon="social:post-twitter"></iron-icon></a>
    {% endif %}
    {% if site.owner.facebook %}
      <a href="http://facebook.com/{{ site.owner.facebook }}" target="_blank"><iron-icon icon="social:post-facebook"></iron-icon></a>
    {% endif %}
    {% if site.owner.google_plus %}
      <a href="https://google.com/{{ site.owner.google_plus }}" target="_blank"><iron-icon icon="social:post-gplus"></iron-icon></a>
    {% endif %}
    {% if site.owner.linkedin %}
      <a href="http://linkedin.com/in/{{ site.owner.linkedin }}" target="_blank"><iron-icon icon="social:post-linkedin"></iron-icon></a>
    {% endif %}
    {% if site.owner.github %}
      <a href="http://github.com/{{ site.owner.github }}" target="_blank"><iron-icon icon="social:post-github"></iron-icon></a>
    {% endif %}
    {% if site.owner.stackexchange %}
      <a href="{{ site.owner.stackexchange }}" target="_blank"><iron-icon icon="social:whatshot"></iron-icon></a>
    {% endif %}
    {% if site.owner.instagram %}
      <a href="http://instagram.com/{{ site.owner.instagram }}" target="_blank"><iron-icon icon="social:post-instagram"></iron-icon></a>
    {% endif %}
    {% if site.owner.flickr %}
      <a href="http://www.flickr.com/photos/{{ site.owner.flickr }}" target="_blank"><iron-icon icon="social:flickr"></iron-icon></a>
    {% endif %}
    {% if site.owner.tumblr %}
      <a href="http://{{ site.owner.tumblr }}.tumblr.com" target="_blank"><iron-icon icon="social:post-tumblr"></iron-icon></a>
    {% endif %}
    {% if site.owner.email %}
      <a href="mailto:{{ site.owner.email }}" target="_blank"><iron-icon icon="communication:email"></iron-icon></a>
    {% endif %}
  </div>
</div>