<div class="social-share">
  <style>
    .pocket-btn {display:inline-block; height:20px; vertical-align:top;}
    .twitter-share-button {width: 100px !important}
    .fb-like span {vertical-align: inherit !important}
    .g-plusone {width: 80px;}
  </style>
  <a href="http://b.hatena.ne.jp/entry/https://blog.agektmr.com" class="hatena-bookmark-button" data-hatena-bookmark-title="Tender Surrender" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
  <a class="twitter-share-button" href="//twitter.com/share" data-via="agektmr">Tweet</a>
  <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
  <div class="g-plusone" data-size="medium"></div>
  <a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-lang="en"></a>
</div>
