<!doctype html>
<html class="no-js" lang="ja">
<head itemscope itemtype="http://schema.org/Article">
{% include 'head.njk' %}
</head>

<body id="page" {% if image.feature %}class="feature"{% endif %}>
  <mwc-drawer id="drawer" hasHeader type="dismissible">
    <div slot="title">{{ site.title }}</div>
    <div class="sidebar">{% include 'sidebar.njk' %}</div>
    <div slot="appContent">
      <mwc-top-app-bar id="app-bar" prominent>
        <mwc-icon-button id="sidebar-button" icon="menu" slot="navigationIcon"></mwc-icon-button>
        <div slot="title">{{ title if title else site.title }}</div>
      </mwc-top-app-bar>

      <div id="main-content">
  {{ content | safe }}
      </div>

      <div class="footer-wrapper">
        <footer role="contentinfo">
          {% include 'footer.njk' %}
        </footer>
      </div><!-- /.footer-wrapper -->
  {%- include 'scripts.njk' %}
    </div>
  </mwc-drawer>
</body>
</html>
