<!doctype html>
<html class="no-js" lang="ja">
<head itemscope itemtype="http://schema.org/Article">
{% include 'head.njk' %}
</head>

<body id="page" {% if image.feature %}class="feature"{% endif %}>
  <aside class="mdc-drawer mdc-drawer--modal">
    <div class="mdc-drawer__header">
      <h1>{{ site.title }}</h1>
    </div>
    <div class="mdc-drawer__content">
  {% include 'sidebar.njk' %}
    </div>
  </aside>
  <div class="mdc-drawer-scrim"></div>
  <div class="mdc-drawer-app-content">
    <header id="app-bar" class="mdc-top-app-bar mdc-top-app-bar--prominent">
      <div class="mdc-top-app-bar__row">
        <section class="
            mdc-top-app-bar__section
            mdc-top-app-bar__section--align-start">
          <button class="
              mdc-icon-button material-icons
              mdc-top-app-bar__navigation-icon
              mdc-ripple-upgraded--unbounded
              mdc-ripple-upgraded">menu</button>
          <span class="mdc-top-app-bar__title">
            {{ title if title else site.title }}
          </span>
        </section>
        <section class="
            mdc-top-app-bar__section
            mdc-top-app-bar__section--align-end">
        </section>
      </div>
    </header>

    <div id="main-content">
      <div class="mdc-top-app-bar--prominent-fixed-adjust"></div>
{{ content | safe }}
    </div>

    <div class="footer-wrapper">
      <footer role="contentinfo">
        {% include 'footer.njk' %}
      </footer>
    </div><!-- /.footer-wrapper -->
{%- include 'scripts.njk' %}
  </div>
</body>
</html>
