---
layout: base.njk
templateClass: tmpl-post
---

    <article class="hentry">
      <div class="entry-content">
        <div class="entry-meta">
        </div>
        {{ content | safe }}
        <footer class="entry-meta">
        {% if page.modified %}{{ page.title }} was last modified on <span class="entry-date date modified"><time datetime="{{ page.modified }}">{{ page.modified }}</time></span>
          <span class="author vcard fn">{{ site.owner.name }}</span>{% endif %}
        </footer>
      </div>
    </article>

    {# {% if page.comments != false %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %} #}
