@import './mixins';
@import './_variables';
@import './_reset';
@import './elements';
@import './_typography';
@import './_page';
@import './_site';

.top-bar {
  --mdc-theme-primary: #555555;
  --mdc-theme-on-primary: white;
}

.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  mwc-list {
    flex: 1 1 auto;
    mwc-list-item {
      flex: 0 1 auto;
    }
  }
  .contacts {
    flex: 0 1 auto;
    display: flex;
    justify-content: space-around;
    mwc-icon-button {
      --mdc-icon-size: 20px;
      .twitter {
        color: #55acee
      }
      .facebook {
        color: #3a5795
      }
      .linkedin {
        color: #1c86bd
      }
      .github {
        color: #333333
      }
    }
  }
}