@charset "utf-8";

@import
  "./prism-base16-monokai.dark",
  "./bourbon/_bourbon.scss",
  "./base/_base.scss",
  "./base/_breakpoints.scss",
  "./neat/_neat.scss",
  "./_layout.scss"
;

h2,h3,h4,h5,h6 {
  margin-top: 3rem;
}

.readmore {
  display: block;
  text-align: end;
}

.aside {
  margin: 20px 0;
  padding: 20px;
  color: white;
  font-size: 0.9em;
  border-radius: 15px;
  background: rgb(175, 127, 255);
  a {
    color: white;
  }
  code {
    background-color: transparent;
  }
  p {
    margin-bottom: 0;
  }
}

figcaption {
  font-size: 0.9em;
  text-align: center;
}
