<!DOCTYPE html>
<html lang="{{ lang or 'en' }}">
  {% include 'head.njk' %}
  <body>
    {% include 'header.njk' %}
    <div class="page-content">
        {{ content | safe }}
    </div>
    {% include 'footer.njk' %}
  </body>
</html>
