---
layout: layouts/base
templateClass: tmpl-post
---
<div class="post">

<div class="post-header-container has-cover" {% if image.feature %}style="background-image: url({{ site.imagepath }}/{{ image.feature }});"{% else %}style="background-image: url({{ site.cover }});"{% endif %}>
  <div class="scrim has-cover">
    <header class="post-header">
      <h1 class="title">{{ title }}</h1>
      <p class="info">by<strong> {% if not author %}{{ site.owner.name }}{% else %}{{ author }}{% endif %}</strong></p>
    </header>
  </div>
</div>

<div class="wrapper">

<section class="post-meta">
  <div class="post-date">Posted: {{ page.date | localeDateString(lang or 'en') }}{% if updated %} / Last updated: {{ updated | localeDateString(lang or 'en') }}{% endif %} / {% if lang == 'ja' %}オーガニック度{% else %}Organic level{% endif %}: {{ organic if organic else 100 }}%</div>
</section>

<article class="post-content">
  {{ content | safe }}
</article>

<section class="rss">
  <p class="rss-subscribe text"><strong>Subscribe <a href="{{ site.baseurl }}/feed.xml">via RSS</a></strong></p>
</section>

<section class="share">
  <span>Share: </span>
  {% for social in site.social %}
    {% set full_url %}{{ site.baseurl }}{{ page.url }}{% endset %}
    {% if social.name == "Bluesky" and social.share == true %}
      <a href="//bsky.app/intent/compose?text={{ title | urlencode}}+{{full_url | urlencode}}"
        onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=550');return false;">
        <i class="fab fa-{{ social.icon }} fa-lg"></i>
      </a>
    {% endif %}
    {% set full_url %}{{ site.baseurl }}{{ page.url }}{% endset %}
    {% if social.name == "X" and social.share == true %}
      <a href="//x.com/share?text={{ title | urlencode }} - {{ site.name | urlencode }}&url={{ full_url | urlencode}}&via={{social.username}}"
        onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=550');return false;">
        <i class="fab fa-{{ social.icon }} fa-lg"></i>
    {% if social.name == "Bluesky" and social.share == true %}
      <a href="//bsky.app/intent/compose?text={{ title | urlencode}}+{{full_url | urlencode}}"
        onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=550');return false;">
        <i class="fab fa-{{ social.icon }} fa-lg"></i>
      </a>
    {% endif %}
    {% set full_url %}{{ site.baseurl }}{{ page.url }}{% endset %}
    {% if social.name == "X" and social.share == true %}
      <a href="//x.com/share?text={{ title | urlencode }} - {{ site.name | urlencode }}&url={{ full_url | urlencode}}&via={{social.username}}"
        onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=550');return false;">
        <i class="fab fa-{{ social.icon }} fa-lg"></i>
      </a>
    {% endif %}
    {% if social.name == "Facebook" and social.share == true %}
      <a href="//www.facebook.com/sharer.php?t={{ title | urlencode }} - {{ site.name | urlencode }}&u={{ full_url | urlencode}}"
        onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=550');return false;">
        <i class="fab fa-{{ social.icon }} fa-lg"></i>
        onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=550');return false;">
        <i class="fab fa-{{ social.icon }} fa-lg"></i>
      </a>
    {% endif %}
    {% if social.name == "LinkedIn" and social.share == true %}
      <a href="//www.linkedin.com/shareArticle?mini=true&url={{ full_url | urlencode}}"
        onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=550');return false;">
        <i class="fab fa-{{ social.icon }} fa-lg"></i>
        onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=550');return false;">
        <i class="fab fa-{{ social.icon }} fa-lg"></i>
      </a>
    {% endif %}
  {% endfor %}
</section>
</div>
</div>
