<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head itemscope itemtype="http://schema.org/Article">
{% include head.html %}
<style>
  #post-index #main {
    margin-top: 0;
    margin-bottom: 0;
  }
</style>
</head>

<body id="post-index" {% if page.image.feature %}class="feature"{% endif %} unresolved>

<paper-drawer-panel responsiveWidth="900px" selected="main">
  <paper-header-panel drawer mode="seamed">
    <paper-toolbar class="tall side-header" style="background-image: url(/images/{{ site.owner.avatar }});">
    </paper-toolbar>
{% include sidebar.html %}
  </paper-header-panel>
  <paper-scroll-header-panel main condenses keep-condensed-header>
    <paper-toolbar class="tall main-header">
      <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
      <h1 class="bottom indent title">{{ site.title }}</h1>
      <!-- <h2>{{ site.description }}</h2> -->
    </paper-toolbar>
    <div class="content-wrapper">
{% include browser-upgrade.html %}

    {{ content }}

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}
    </div>
  </paper-header-panel>
</paper-drawer-panel>
</body>
</html>
