<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head itemscope itemtype="http://schema.org/Article">
{% include head.html %}
<style shim-shadowdom-css>
  #post-index #main {
    margin-top: 0;
    margin-bottom: 0;
  }
</style>
</head>

<body id="post-index" {% if page.image.feature %}class="feature"{% endif %} unresolved>

<core-drawer-panel responsiveWidth="900px" selected="main">
  <core-header-panel drawer>
    <core-toolbar class="tall" style="background-image: url(/images/{{ site.owner.avatar }});">
    </core-toolbar>
{% include sidebar.html %}
  </core-header-panel>
  <core-scroll-header-panel main condenses keepCondensedHeader>
    <core-toolbar class="tall">
      <core-icon-button icon="menu" core-drawer-toggle></core-icon-button>
      <h1 class="bottom indent title">{{ site.title }}</h1>
      <!-- <h2>{{ site.description }}</h2> -->
    </core-toolbar>

{% include browser-upgrade.html %}

    {{ content }}

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

  </core-header-panel>
</core-drawer-panel>
</body>
</html>
